body {
    font-family: "Lato", sans-serif;
    margin:0;
    
    background: linear-gradient(100deg, #ff5400 0%, #388c8d 60%, #0f2027 100%);
    background-size: 150% 100%;
    animation: changeGradiend 8s linear infinite;
    animation-direction: alternate;
}

@keyframes changeGradiend {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

#main-page {
    transition: margin-left .5s;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
}

.flex-element {
    flex: 0 1 33.333%;
}

.header .name-logo a{
    font-size: 45px;
    position: relative;
    top: 50%;
    color: #ff494a;
}

.logo {
    font-size: 40px;
}
.logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#table {
    width: 50%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2em;
    margin: 5vh 0;
    box-shadow: 0px 10px 20px 4px #00000067;
}

#table_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}

#table_row button {
    height: 60px;
    width: 80px;
    border: none;
    border-radius: 25px;
    background-color: #00000067;
    box-shadow: 0px 0px 20px 7px #00000067;
}

#table_row button:hover {
    height: 60px;
    width: 100px;
}


.copy_img {
    width: 70px;
}


#table_row a {
    color: #c2f3e6;
    text-decoration: none;
}

#stats {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0px 10px 20px 4px #00000067;
}

#button {
    padding: 5vh;
}

#update_button {
    height: 140px;
    width: 140px;
    border: none;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 20px 4px #00000067;
}

.button-img {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: rotation 8s infinite linear;
}

.button-img:hover {
    width: 100px;
    height: 100px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.line {
    height: 3px;
    background: #0000005d;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 10px 20px 4px #00000067;
}

.footer {
    height: 70px;
    margin-top: auto;
    top: 50%;
}

.footer h2 {
    top: 50%;
    text-align: center;
    color: #8078d4;
}